@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body{
    font-family: 'Montserrat';
    font-weight: 400;
}

/*Loader*/
.loader{
    background-color: #000;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s 3s ease-in-out;
}
.loader img{
    width: 60%;
    animation: fade_in 5s; 
}
.load-finish{
    opacity: 0;
    pointer-events: none;
}
/*Loader Ends Here*/

/*Navbar*/
.navbar{
    min-width: 100vw;
}
.navbar .navbar-brand{
    font-weight: 800;
    font-size: 2em;
}
.navbar .navbar-brand span:nth-child(1){
    background-color: blue;
    color: #fff;
    border-radius: 100%;
    padding: 0.5em;
}
.navbar .navbar-brand span:nth-child(2){
    position: relative;
    left: -23px;
    color: #000;;
}
.navbar .nav-ul{
    width: 100%;;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar .nav-li{
    list-style: none;
}
.navbar .nav-li a{
    text-decoration: none;
}

/*Navbar ends here*/

/*Animations*/
@keyframes fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}