@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat';
    font-weight: 400;
    scroll-behavior: smooth;
}

/*---------------------------------------------Loader------------------------------------------------*/
.loader{
    background-color: #000;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s 3s ease-in-out;
    z-index: 100;
}
.loader img{
    width: 60%;
    animation: fade_in 5s; 
}
.load-finish{
    opacity: 0;
    pointer-events: none;
}
/*-------------------------------------------Loader Ends Here---------------------------------------*/


/*--------------------------------------------Scroll-bar---------------------------------------------*/

::-webkit-scrollbar {
    width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333; 
}

/*-----------------------------------------------------------------------------------------------------*/




/*-------------------------------------------------Navbar-----------------------------------------------*/
.navbar{
    justify-content: flex-end;
    min-width: 100vw;
    padding: 0;
    z-index: 1;
}
.navbar-brand{
    margin-right: auto;
    font-size: 1.6em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.navbar-brand span:first-child{
    color: #fff;
}
.navbar-brand span:last-child{
    position: relative;
    left: -7.5px;
}
.navbar-brand::after{
    position: absolute;
    top: 50%;
    left: 37px;
    width: 36px;
    height: 36px;
    content: '';
    background: #3e64ff;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.nav-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-ham span{
    display: block;
    height: 2px;
    color: #000;
    background-color: #000;
    margin: 6px 0;
    border-radius: 50%;
    margin-left: auto;
    transition: all 0.5s;
}
.nav-ham span:nth-child(1){
    width: 30px;
}
.nav-ham span:nth-child(2){
    width: 25px;
}
.nav-ham span:nth-child(3){
    width: 35px;
}

@media (max-width: 320px){
    .navbar-brand span:last-child{
        display: none;
    }
}
.nav-menu{
    position: fixed;
    top: 9vh;
    bottom: 0;
    height: 82vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #3e64ff;
}
.nav-item{
    font-size: 1.2em;
    padding: 0.4em 0;
}
.nav-item a{
    color: #fff;
}
.nav-item a:hover{
    text-decoration: none;
}
.make-visible{
    display: flex;
}
   
     /*On-click animations*/
.cross-icon span:first-child {
  -webkit-transform: rotate(-45deg) translate(-5px, 9px);
          transform: rotate(-45deg) translate(-5px, 9px);
}
.cross-icon span:nth-child(2) {opacity: 0;}
.cross-icon span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(0px, -9px) scale(0.8);;
          transform: rotate(45deg) translate(0px, -9px) scale(0.8);
}

.nav-scrolled{
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s all ease-out;
            transition: .3s all ease-out
}

/*--------------------------------------------Navbar ends here---------------------------------*/



/*--------------------------------------------This is overlay------------------------------------*/
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3e64ff;
    width: 50%;
    opacity: 0.1;
}
/* @media (max-width: 500px){
    .overlay{
        width: 100%;
    }
} */
/*------------------------------------------------------------------------------------------------*/


section{
    min-height: 100vh;
}


/*---------------------------------------------Home----------------------------------------------*/

#home p{
    font-size: 2em;
    font-weight: 700;
    color: #3e64ff;
    line-height: 0.5em;
}
#home h1{
    font-weight: 800;
    font-size: 3em !important;
}
#home h3{
    font-weight: 700;
}
@media (max-width: 500px){
    p{
        font-size: 1.8em !important;
    }
}
@media (max-width: 340px){
    h1{
        font-size: 2.8em !important;
    }
}
#home #typed{
    color: #3e64ff;
    font-weight: 700;
}
#home .btm-arw{
    position: absolute;
    bottom: 10vh;
    animation: upDown 1s alternate infinite;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.4em;
    border-radius: 50%;
    cursor: pointer;
}
#home .btm-arw span{
    display: block;
    height: 2px;
    color: #000;
    background-color: #000;
    margin: 6px 0;
    border-radius: 30%;
}
#home .btm-arw span:nth-child(1){
    width: 12px;
    transform: rotate(45deg) translate(14px, 11px);
}
#home .btm-arw span:nth-child(2){
    width: 25px;
    transform: rotate(90deg);
}
#home .btm-arw span:nth-child(3){
    width: 12px;
    transform: rotate(-45deg) translate(6px, 9px);
}


/*-------------------------------------------------------------Underline from left---------------------------------------------*/

.underline-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.underline-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline-left:hover:before, .underline-left:focus:before, .underline-left:active:before {
  right: 40%;
}

/*---------------------------------------------------------------------Animations--------------------------------------------------*/
@keyframes fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slideIn{
    0%{
                transform: translateX(100px);
        -webkit-transform: translateX(100px);
    }
    100%{
                transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
}
@keyframes inFromBottom{
    0%{
                transform: translateY(200px);
        -webkit-transform: translateY(200px);
        
    }
    100%{
                transform: translateY(0);
        -webkit-transform: translateY(0px);
    }
}
@keyframes upDown{
    0%{
                transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }
    100%{
                transform: translateY(20px);
        -webkit-transform: translateY(20px);
    }
}