@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/*Loader*/
.loader{
    background-color: #000;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s 2s ease-in-out;
}
.loader img{
    width: 60%;
    animation: fade_in 5s; 
}
.load-finish{
    opacity: 0;
    pointer-events: none;
}
@keyframes fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}