.contact-container {
    min-height: 80vh;
    background-color: rgb(230, 218, 206);
    animation: fade_in 1s;
}

.contact-sub-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.contact-sub-container .heading {
    display: flex;
    align-items: center;
}

.contact-sub-container .position-section {
    margin-top: 40px;
}

.contact-sub-container .loading-blk {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.contact-blk {
    width: 10px;
    height: 10px;
    padding: 5px;
    background-color: rgb(0, 80, 225);
    margin-right: 10px;
}

.contact-head {
    font-size: 35px;
    font-family: 'Poppins-Bold';
}

.contact-sub-container .form{
    background-color: #fff;
    padding: 40px;
}

.contact-sub-container .details-container{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}

.contact-sub-container .form label{
    display: block;
    flex: 0 0 45%;
    font-family: 'Poppins-Bold';
    margin-bottom: 50px;
    background-color: #fff;
    color: #000;
}

.contact-sub-container .form input{
    display: block;
    width: 100%;
}

.contact-sub-container .form textarea{
    display: block;
    width: 100%;
}

.contact-sub-container .form .label-textarea{
    width: 100%;
    margin-bottom: 30px;
}

.contact-sub-container .form input, .contact-sub-container .form textarea{
    outline: none;
    border: 0;
    border-bottom: 1px solid #000;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Poppins-Light';
    letter-spacing: 0.06em;
}

.contact-sub-container .send_default{
    padding: 10px 15px;
    color: #fff;
    border-radius: 15px;
    outline: none;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Poppins-Bold';
    font-size: 14px;
}

.contact-sub-container .send{
    border: 1px solid rgb(0, 80, 225);
    background-color: rgb(0, 80, 225);
}

.contact-sub-container .send_inactive{
    border: 1px solid #6a9ff6;
    background-color: #6a9fff;
    cursor: not-allowed;
}

.contact-sub-container .success-blk{
    position: absolute;
    bottom: 125px;
    background-color: rgba(0, 0 , 0, 0.7);
    color: #fff;
    padding: 20px;
    animation: bottom_up 1s;
}

.display-none{
    display: none;
}


@media (max-width: 539px){
    .contact-head{
        font-size: 29px;
    }

    .contact-sub-container .form{
        padding: 25px;
    }
    
    .contact-sub-container .details-container{
        flex-wrap: wrap;
    }

    .contact-sub-container .form label{
        flex: 0 0 100%;
    }

    .contact-sub-container .send{
        padding: 8px 12px;
        font-size: 12px;
    }

    .contact-sub-container .success-blk{
        bottom: 60px;
        padding: 12px;
        font-size: 14px;
    }
}
    

