.footer{
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    border-top: 0.5px solid #dde;
}

.footer .sub-container{
    width: 100%;
    margin: 0 50px;
    display: flex;
}

.footer .social-container{
    margin-left: auto;
    display: flex;
}

.footer .social-container .sub-box{
    margin-left: 35px;
    text-align: center;
}

.footer .text-bold{
    color: #232323;
    margin-bottom: 5px;
}

.footer .social-icons{
    display: flex;
}

.footer .social-icons a{
    margin-left: 11px;
}

.footer .license-container, .footer .social-container, .footer .social-container .sub-box{
    color: #000;
}

.footer .social-icons img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media(max-width: 768px){
    .footer .sub-container{
        display: block;
    }

    .footer .social-container{
        margin: 0;
        display: none;
    }
}
